:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --first-bg-color: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: aqua; */
  /* outline: 2px solid red; */
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}
/* .main-nav {
  display: flex;
} */

.logo {
  color: var(--title-text-color);
  font-family: Raleway;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-title {
  color: var(--accent-color);
}
.logo:hover {
  color: var(--accent-color);
}
.link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav {
  display: flex;
  align-items: center;
}

/* .site-nav .link {
  color: var(--title-text-color);
} */

.site-navigation {
  display: flex;
  margin-left: 93px;
}
/* .site-navigation .item {
  outline: 1px solid red;
} */

.site-navigation .item + .item {
  margin-left: 50px;
}

/* .site-navigation .item:not(:first-child) {
  margin-left: 50px;
} */

.site-nav .link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.address .link {
  color: var(--primary-text-color);
}

.address .link:hover,
.link:focus {
  color: var(--accent-color);
}

.address {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.address .item + .item {
  margin-left: 50px;
}

.address .item::before {
  /* outline: 1px solid green; */
  content: '';
  width: 16px;
  height: 12px;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.address .item:nth-child(1)::before {
  background-image: url(../images/icons.svg/envelope.svg);
}
.address .item:nth-child(2)::before {
  background-image: url(../images/icons.svg/smartphone.svg);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/*Hero*/

.hero {
  background-color: #2f303a;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  /* height: 600px; */
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;

  margin-top: 0;
  margin-bottom: 30px;
}

/*Section*/

/* .section .container {
  padding-top: 94px;
  padding-bottom: 94px;
} */

.section-title {
  color: var(--title-text-color);
  /* font-weight: 700; */
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-no-padding {
  padding-top: 94px;
  padding-bottom: 0;
}

.job-example {
  display: flex;
}

.job-example .item {
  width: 370px;
  /* outline: 1px solid red; */
}

.job-example .item + .item {
  margin-left: 30px;
}
/*Features*/
.feature-list {
  display: flex;
  justify-content: center;
}

.feature-list .item {
  width: 270px;
}
.feature-list .item::before {
  /* outline: 1px solid green; */
  content: '';
  height: 120px;
  display: block;
  border-radius: 4px;
  /* background-image: url(../images/icons.svg/Group.svg); */
  background-size: 65.32px 70px;
  background-position: center;

  background-repeat: no-repeat;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

/* .icon-satelite::before {
  background-image: url(../images/icons.svg/Group.svg);
} */

.feature-list .item:nth-child(1)::before {
  background-image: url(../images/Group.svg);
}

.feature-list .item:nth-child(2)::before {
  background-image: url(../images/clock\ 1.svg);
}

.feature-list .item:nth-child(3)::before {
  background-image: url(../images/diagram\ 1.svg);
}

.feature-list .item:nth-child(4)::before {
  background-image: url(../images/astronaut\ 1.svg);
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-list .title {
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;

  margin-top: 0;
  margin-bottom: 10px;
}

.feature-list p {
  margin-top: 0;
  margin-bottom: 0;
}

/*-----------------------Team-----------------------------------*/

.team.section {
  background-color: #f5f4fa;
}
.team-list .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .profession {
  font-size: 16px;
  line-height: 1.19;

  margin-top: 10px;
}

.team-list {
  display: flex;
}

.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .name,
.team-list .profession {
  text-align: center;
}

.team-list .caption {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*Address*/

.address {
  color: var(--primary-white-color);
  line-height: 1.71;
  font-style: normal;

  margin-top: 0;
  margin-bottom: 0;
}
.address .link-address {
  color: var(--footer-address-color);
  text-decoration: none;
}

/*Button*/

.button {
  color: var(--title-text-color);
  cursor: pointer;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  border-radius: 4px;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  padding: 11px 32px;
  min-width: 200px;
  text-align: center;
}

.button.secondary {
  background-color: var(--secondary-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;
  min-width: 73px;
}

.button.secondary:hover,
.button.secondary:focus,
.button.secondary:active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/*Portfolio*/
.portfolio-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-list .element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filters-list {
  display: flex;
  justify-content: center;
  /* padding-left: 280px;
  padding-right: 279px; */
  margin-top: 0;
  margin-bottom: 50px;
}

.filters-list .item:hover,
:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* .filters-list .item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

.filters-list .item + .item {
  margin-left: 8px;
}

.project {
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: inherit;
  /* margin-right: auto */
  /* background-color: violet; */
  /* margin: -15px; */
}

.element {
  width: 370px;
  /* width: calc((100%-60px) / 3); */
  /* background-color: springgreen; */
  margin-right: 30px;
  margin-bottom: 30px;
  /* margin: 15px; */
  /* outline: 1px solid red; */
  /* border-width: 0px 1px 1px 1px;
  border-color: #eeeeee;
  border-style: solid; */
}

.portfolio-list .bottom {
  padding: 20px 24px;
  border-width: 0px 1px 1px 1px;
  border-color: #eeeeee;
  border-style: solid;
}

.element:nth-child(3n) {
  margin-right: 0px;
}

.element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.footer {
  background-color: #2f303a;
  /* color: var(--primary-white-color); */
}

.footer .logo {
  color: var(--primary-white-color);
}

.footer .logo:hover {
  color: var(--accent-color);
}

.address .link-address:hover,
.link:focus {
  color: var(--accent-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-item {
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-mail {
  margin-bottom: 9px;
}

.address-list .footer-address {
  color: var(--primary-white-color);
  text-decoration: none;
}
.address-list .footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

img {
  display: block;
}

/*цвет основного текста #212121*/

/*вторичный цвет #757575 */

/*белый FFFFFF*/

/*акцент #2196F3*/ ;
